{% extends "base.html" %}
{% block title %}About FGO Automation{% endblock %}
{% block sub_title %}About Page{% endblock %}
{% block my_contentWrap %}
			<div id="left">
				<h1><a>About FGO Automation</a></h1>
				<p class="date"><span>T</span></p>
				<p>he FGO Automation is a project offers you some functionalities to handle with exhausting works while playing <em>Fate Grand Order</em>. Originally, the project is developed based on IOS devices. However, the IOS is not as open as android system, there is no solution to control IOS devices but a bluetooth mouse. In early 2022, FGO simplified Chinese team released cross platform login functionality, it is possible to do the exhausting IOS things with Android emulator. The system functionalities only contain ones which I need, thus, it is impossible to satisfy all of the user. But if you are skilled at programming, you can develop other functionalities based on this project. Computer vision technology, multi threading, web server and html knowledge is required for this program. The source code can be found on <a href="https://github.com/McLaren12345/FGO_Bluetooth_Assistant" target=“_blank”>Github</a>.</p>
<!--				<p><a class="more" href="#">&not; READ MORE</a> <a class="more" href="#">&not; COMMENT [12]</a> <a class="more" href="#">&not; SHARE</a> </p>-->
			</div><!-- end div #left -->

			<div id="side">
				<div class="boxtop"></div>
				<div class="box">
					<h3>RELATED INFORMATION</h3>
					<a href="https://www.bilibili.com/video/BV1NJ411L7W7" target=“_blank”>
					<span class="item">
						<span class="sidedate">NO.1<br /><span>VIDEO</span></span>
						<strong>My most popular video about FGO</strong><br />The FGO automatic robot based on <em>Python</em> and <em>STM32</em>.
					</span>
					</a>
					<a href="https://airtest.readthedocs.io/zh_CN/latest/" target=“_blank”>
					<span class="item">
						<span class="sidedate">NO.2<br /><span>TECH</span></span>
						<strong>NetEase Airtest project</strong><br />An android automatic test platform.
					</span>
					</a>
					<a href="https://space.bilibili.com/233108841/" target=“_blank”>
					<span class="item last">
						<span class="sidedate">NO.3<br /><span>INFO</span></span>
						<strong>FGO official account</strong><br />The official account on Bilibili.
					</span>
					</a>
				</div><!-- end div .box -->
				<div class="boxbottom"></div>
			</div><!-- end div #side -->
			<p id="ad">The FGO Automation is a non-benefit program to liberate our hands from duplicated work of battle and summon of <em>Fate Grand Order</em>. This project is released with MIT licence, you should back all of the packs of it while using and spreading. The author acknowledges that there is no interest conflict with any group of individual on this project.</p>

{% endblock %}
